*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.justfile
!.python-version
!example.env
!LICENSE
!README.md

!scripts/
!scripts/**/
!shared/
!shared/**/
!src/
!src/**/
!tests/
!tests/**/

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yaml
!*.yml
!*.ini
!*.py
